<div class="row pd-16">
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp34.jpg?alt=media&token=edeab441-686c-405b-93da-b2001171fc7a"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp44.jpg?alt=media&token=99b24004-bc0a-4d8a-b05f-9184c4cc32ef"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
  </div>
  <div class="container padding-large" style="margin-bottom:32px">
    <h4>
      <b>Acerca de nosotros</b>
    </h4>
    <h5>
      Somos una empresa que se dedica a la elaboración de terrarios con suculentas y cactus, ideales para decorar interiores o para regalar como un minirecuerdo de tus eventos más importantes (bodas, quince años, cumpleaños, aniversarios). Suculentas Grüne GT es la fusión del amor por los cactus y suculentas que armonizan perfectamente con cualquier color para embellecer los espacios de tu oficina y hogar.</h5>
    <hr>
  </div>