<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Galeria de Suculentas</h3>
        <span class="btn btn-primary btns pull-right" (click)="agregarGaleria()" data-toggle="tooltip" title="Nuevo">
          <i class="fa fa-plus"></i>
        </span>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th class="d-none d-sm-none">Precio</th>
                <th class="d-none d-sm-none">Descuento</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of objeto">
                <td class="w70">
                  <img [src]="obj.url" class="img-50 img-circle pointer">
                </td>
                <td>{{obj.nombre}}</td>
                <td>{{obj.descripcion}}</td>
                <td class="d-none d-sm-none">{{obj.precio}}
                <td class="d-none d-sm-none">{{obj.descuento}}</td>
                <td>
                  <button class="btn btn-primary" (click)="mostrarModal(obj.id)">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-danger">
                    <i class="fa fa-trash-o" (click)="borrar(obj)"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>