<!-- CONTENIDO DE PAGINA -->
<div>
  <div class="row">
    <header id="portafolio">
      <a href="#">
        <!--img src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/logo5.png?alt=media&token=d3563474-a87b-489f-bf51-5faf813a2b33"
          style="width:100%;" class="pull-left margin col-md-hide col-lg-hide over-opacity"-->
      </a>
      <h1>Galería fotográfica</h1>
    </header>
  </div>
  <div class="row">
    <!-- 1RA SECCION -->
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp1.jpg?alt=media&token=2abdafa9-d04c-4cfd-8f50-733d663b9772"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp2.jpg?alt=media&token=bc54c391-5d19-4289-9c72-44574d71d261"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp3.jpg?alt=media&token=bcfe2894-47dc-4c1f-970d-696beb99169f"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <!-- 2DA SECCION -->
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp4.jpg?alt=media&token=daef7991-b203-4929-b62a-afcef9a85a5c"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp36.jpg?alt=media&token=01c3706a-042e-4e66-a8ad-1504e8eb76c3"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp6.jpg?alt=media&token=148cfaa5-46c1-4717-b0de-229f2c78cc8f"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <!-- 3RA SECCION -->
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp7.jpg?alt=media&token=8b8b7f77-5e20-46e2-aca3-727c3e5cb0fb"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp9.jpg?alt=media&token=d148a7f0-6d2e-4c9e-b450-1f4fb174160a"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp11.jpg?alt=media&token=2d6ff7b3-baf8-4f9d-9d64-b83969f091e5"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <!-- 4TA SECCION -->
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp10.jpg?alt=media&token=3950ddf4-f195-4189-be2d-06bf388eed2a"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp8.jpg?alt=media&token=4267309d-d0c5-44b8-8d2f-446e8b493ad2"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp12.jpg?alt=media&token=2f83622c-5ef9-47bd-afef-603cf577ad1c"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <!-- 5TA SECCION -->
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp49.jpg?alt=media&token=86d86f6a-176e-4f64-b173-2315ae5ed973"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp45.jpg?alt=media&token=53f8d9b4-5d8a-406a-b269-23b9af9c295a"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp48.jpg?alt=media&token=a41b5a83-1fe4-43e0-92b7-810c2db4acae"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
  </div>
  <div class="row pd-16" id="about">
    <!-- SECCION acerca de -->
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp34.jpg?alt=media&token=edeab441-686c-405b-93da-b2001171fc7a"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/suculentasgrunegt.appspot.com/o/material%2Fp44.jpg?alt=media&token=99b24004-bc0a-4d8a-b05f-9184c4cc32ef"
          alt="Card image cap">
        <p></p>
      </div>
    </div>
  </div>
  <div class="container padding-large" style="margin-bottom:32px">
      <a class="pull-right" style="font-size: 12px" href="#">Ir a Inicio</a>
    <h4>
      <b>Acerca de nosotros</b>
    </h4>
    <h5>
      Somos una empresa que se dedica a la elaboración de terrarios con suculentas y cactus, ideales para decorar interiores o para regalar como un minirecuerdo de tus eventos más importantes (bodas, quince años, cumpleaños, aniversarios). Suculentas Grüne GT es la fusión del amor por los cactus y suculentas que armonizan perfectamente con cualquier color para embellecer los espacios de tu oficina y hogar.</h5>
    <hr>
  </div>
  <!-- Contact Section -->
  <div class="container padding-large fondo-contacto">
    <h4 id="contact">
      <b>Contactame</b>
      <a class="pull-right" style="font-size: 12px" href="#">Ir a Inicio</a>
    </h4>
    <div class="row text-center padding-24" style="margin:0 -16px">
      <div class="col-md-4 fondo-contacto-opciones">
        <p>
          <i class="fa fa-envelope font-25"></i>
        </p>
        <p>suculentasgrune@gmail.com</p>
      </div>
      <div class="col-md-4 fondo-contacto-principal">
        <p>
          <i class="fa fa-map-marker font-25"></i>
        </p>
        <p>Guatemala, Ciudad</p>
      </div>
      <div class="col-md-4 fondo-contacto-opciones">
        <p>
          <i class="fa fa-phone font-25"></i>
        </p>
        <p>0000-0000</p>
      </div>
    </div>
    <hr>
    <form action="mailto:someone@example.com" method="post" enctype="text/plain">
      <div class="form-group">
        <label for="nombre">Nombre Completo</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre completo">
      </div>
      <div class="form-group">
        <label for="email">Correo Electronico</label>
        <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electronico">
      </div>
      <div class="form-group">
        <label for="mensaje">Mensaje</label>
        <input type="text" class="form-control" id="mensaje" placeholder="Escribenos...">
      </div>
      <button type="submit" class="btn boton-negro"><i class="fa fa-paper-plane w3-margin-right"></i>Enviar</button>
    </form>
  </div>
  <div class="boton-negro text-center pd-24">Creado por: 
    <a href="" title="Wilson Torres" target="_blank">Wilson Torres</a>
  </div>
</div>