<!-- Sidebar -->
<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
  <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
  <!-- Bootstrap List Group -->
  <ul class="list-group">
    <!-- Separator with title -->
    <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
      <small>Navega por Suculentas Grüne GT</small>
    </li>
    <!-- /END Separator -->
    <!-- Menu with submenu -->
    <a href="#/galeria" class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-th-large fa-fw mr-3"></span>
        <span class="menu-collapsed sidebar-submenu">PORTFOLIO</span>
      </div>
    </a>
    <a href="#/nosotros" class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-user fa-fw fa-fw mr-3"></span>
        <span class="menu-collapsed sidebar-submenu">ACERCA DE NOSOTROS</span>
      </div>
    </a>
    <a href="#/contactanos" class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-envelope fa-fw mr-3"></span>
        <span class="menu-collapsed sidebar-submenu">CONTACTANOS</span>
      </div>
    </a>
    <a href="#/lista-galeria" class="bg-dark list-group-item list-group-item-action" *ngIf="usuario">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-cogs fa-fw mr-3"></span>
        <span class="menu-collapsed sidebar-submenu">MANTENIMIENTO</span>
      </div>
    </a>
  </ul>
  <!-- List Group END-->
  <div class="text-center tamanio-social">
    <a href="https://www.facebook.com/SuculentasGruneGT">
      <i class="fa fa-facebook-official w3-hover-opacity" style="color:blue;"></i>
    </a>
    <a href="https://www.instagram.com/suculetasgrune/">
      <i class="fa fa-instagram w3-hover-opacity"></i>
    </a>
    <a href="https://twitter.com/GtGrune">
      <i class="fa fa-twitter w3-hover-opacity" style="color:lightskyblue"></i>
    </a>
  </div>
</div>

<!-- sidebar-container END -->